body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .connexion {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }

  .connexion img {
    width: 100px;
    margin-bottom: 20px;
  }
  

  .connexion input {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .connexion button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .connexion button:hover {
    background-color: #0056b3;
  }